# Pychamr
.idea/

# Python cache
*/__pycache__/
__pycache__/

# Mac
.DS_Store

# xlsx
data_raw/
!data_raw/data_GH.xlsx
!data_raw/data.xlsx
!data_raw/summary_good.xlsx

# Pickle files
data_raw/pickle/

# Fig
fig*/

# Virtual env
venv/

# Db
data/results.db

# Django migrations
*/migrations/*
!*/*/__init__.py

# Jupyter Notebooks
.ipynb_checkpoints/

/data/*
!data/source/data.xlsx
!data/source/summary_good.xlsx
!data/source/data_GH.xlsx
