# Pychamr
.idea/

# Python cache
*/__pycache__/
__pycache__/

# Mac
.DS_Store

# xlsx
data/
!data/data_GH.xlsx
!data/data.xlsx

# Pickle files
data/pickle/

# Fig
fig*/

# Virtual env
venv/

# Db
data/results.db

# Django migrations
*/migrations/*
!*/*/__init__.py
